body {
  background-color: #9C9E9F;
}

a {
  text-decoration: none;
  color: inherit;
} 

a:hover {
  text-decoration: none; 
}

.ascii {
  font-family: Courier;
  font-size: 16pt;
  color: white;
}

.dummy {
  display: none;
}
          
