body {
  background-color: #9C9E9F;
  -webkit-animation: pulsate 100s linear infinite;
}

.ascii {
  font-family: Courier;
  color: white;
  font-size: 16pt;

@-webkit-keyframes pulsate {
    0% {
    color: #333;
    background: #fff;
}
7% {
    color: #0c85ff;
    background: #001F3F;
}
14% {
    color: #40a9ff;
    background: #0074D9;
}
21% {
    color: #00a8e5;
    background: #7FDBFF;
}
28% {
    color: #165656;
    background: #39CCCC;
}
35% {
    color: #112c20;
    background: #3D9970;
}
42% {
    color: #124f18;
    background: #2ECC40;
}
49% {
    color: #00672d;
    background: #01FF70;
}
56% {
    color: #665700;
    background: #FFDC00;
}
63% {
    color: #ffd6b4;
    background: #FF851B;
}
70% {
    color: #ffd1cf;
    background: #FF4136;
}
77% {
    color: #e44e99;
    background: #85144B;
}
84% {
    color: #f9a2e6;
    background: #F012BE;
}
91% {
    color: #e679f6;
    background: #B10DC9;
}
95% {
    color: #5e5e5e;
    background: #111;
}
96% {
    color: #919191;
    background: #ddd;
}
98% {
    color: #5d5d5d;
    background: #aaa;
}
100% {
    color: #b3b3b3;
    background: #fff;
}

.pulsate-bg {
    -webkit-animation: pulsate 100s linear infinite;
    animation: pulsate 100s linear infinite;
}
