body {
  font-family: "Georgia", serif;
  font-weight: 400;
  color: #666;
  background-color: #FFF8E7;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  padding: 2em 1em;
  background-color: #666;
  color: #FFF8E7;
}

main {
  margin: 5em 1em 2em;
  flex: 1;
}

footer {
  margin: 1em 1em 2em;
}

header h1 {
  font-size: 4.4rem;
  font-family: inherit;
  text-transform: none;
  letter-spacing: -.01em;
}

@media (min-width: 550px){
  header h1 {
    font-size: 5.0rem;
  }
}

header h2 {
  font-size: 1.5rem;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 { 
  font-family: 'Futura', 'Futura LT', Verdana, sans-serif;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 300;
  margin-top: 4rem;
  margin-bottom: 2.5rem;
}

hr {
  margin-top: 0;
  margin-bottom: 2rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1;
}
