.reset-link {
  color: inherit;
}

.reset-link:hover {
  text-decoration: none;
}

.undecorate:hover {
  text-decoration: none;
}

.light {
  font-weight: 300;
}

.lighter {
  font-weight: 100;
}

.krn1 {
  letter-spacing: .1em;
}

.krn2 {
  letter-spacing: .2em;
}

.krn3 {
  letter-spacing: .3em;
}

.krn4 {
  letter-spacing: .3em;
}

.lowercase {
  text-transform: lowercase;
}

$container-width: 30em;

// disable iOS font resizing on orientation change
html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}
