<footer class="max-width-2 ml2 mr2 px2 mt2 mb3" style="line-height: 1.3rem">
  <div class="h6">
    <p class="mb1">{{ site.description }}</p>
    <p class="mb1">Currently: <a href="https://www.deutsche-filmakademie.de">Deutsche Filmakademie e.V.</a></p>
    <p class="mb2"><a href="/portrait" title="Mattia's portrait">Portrait</a> by <a href="https://www.instagram.com/chrissparrows/" title="Chris Passeri's Instagram">Chris</a>.</p>
    <i>Last updated on {{ 'now' | date: "%B %-d, %Y" }}</i><br>
    <i>&copy; {{ 'now' | date: "%Y" }} Mattia Tezzele</i> 
  </div>
</footer>
