<header class="px3 sm-px4 py4">
  <h1 class="m0 h2 sm-h1 regular">
  {% if page.title == 'Home' %}
    <a href="/" class="reset-link" title="Home">{{site.name}}</a>
  {% else %}
    <a href="/" class="reset-link" title="Home">{{site.name}}</a>
    / 
    <a href="{{ page.url }}" class="
      {% case page.title %}
      {% when "about" %}
        purple 
      {% when "colophon" %}
        green 
      {% when "contact" %}
        teal 
      {% when "writing" %}
        orange
      {% else %}
        orange
      {% endcase %}
        lowercase reset-link" title="{{ page.title }}">
        {% if page.layout == 'post' %}
          writing
        {% else %}
          {{page.title}}
        {% endif %}
    </a>
  {% endif %}
  </h1>
</header>
