<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>
    {% if page.layout == 'default' %}
      {{ site.name }} &middot; Berlin
    {% else %}
      {{ page.title }} &middot; {{ page.subtitle | strip_html }}
    {% endif %}
  </title>
  <link href="/feed.xml" type="application/atom+xml" rel="alternate" title="mrzool.cc RSS feed">
  <meta name="author" content="{{site.author}}">
  <meta name="description" content="
    {% comment %} {% if page.layout == 'default' %} {% endcomment %}
      {{ site.name }} &vert; {{ site.place }}
    {% comment %} {% else %} {% endcomment %}
      {% comment %} {{ page.subtitle | strip_html }} {% endcomment %}
    {% comment %} {% endif %} {% endcomment %}
    ">
    {% if page.layout == 'post' %}
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:site" content="{{ site.twitter_username }}">
      <meta name="twitter:creator" content="{{ site.author }}">
      <meta name="twitter:title" content="{{ page.title }}">
      <meta name="twitter:description" content="{{ page.subtitle | strip_html }}">
      {% if page.preview %}
        <meta name="twitter:image" content="{{ page.preview }}">
      {% endif %}
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% comment %} <link rel="stylesheet" href="/css/s.min.css"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="/css/s.css"> {% endcomment %}
    <style>
      {% if page.custom-css %}
        {% comment %} {% assign css_path = "custom_css/" | append page.custom_css %} {% endcomment %}
        {% include_relative {{ page.custom-css }} %}
      {% else %}
        {% include _s.css %}
      {% endif %}
    </style>
</head>
