<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta name="description" content="{{site.description}}">
  <meta name="author" content="{{site.author}}">


  {% if page.title == 'Home' %}
    <title> {{site.name}} </title>
  {% else %}
    <title>{{page.title}} / {{site.name}}</title>
  {% endif %}
  <!-- <link rel="icon" type="image/png" href="img/z.png"> -->
  <link rel="stylesheet" href="/css/basscss.css">
  <script src="http://code.jquery.com/jquery-2.1.4.js" type="text/javascript" charset="utf-8"></script>
</head>
