<!DOCTYPE html> 
<html lang="en"> 

  {% include _head.html %}

  <body class="container py3 px1 sm-px0 white-bg">

    {% include _header.html %}

    <main>

      <section>
        {{ content }}
      </section>

      {% if page.title == 'Home' or 'Writing' %}
        <section>
          <h2>Writing</h2>
          {% include _post-list.html %}
        </section>
      {% endif %}

      {% if page.title == 'Work' %}
        {% capture colophon %}{% include _colophon.md %}{% endcapture %}
        <section>
          {{ colophon | markdownify }}
        </section>
      {% endif %}

    </main>

    {% include _footer.html %}

    <script>

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-58302288-1', 'auto');
      ga('send', 'pageview');

    </script>

  </body>
</html>
