<!DOCTYPE html>
<html lang="en">
  {% include _head.html %}
  <body>

    <main class="px3 py3 mb4 max-width-2">

      <div class="clearfix mxn2">

        <div class="max-width-1 px2 py2 mb4 amethyst bg-gray">
          <h1 class="h3 normal">{{ page.title }}</h1>
          <h2 class="h4 normal">{{ page.subtitle }}</h2>
          <p>{{ page.phone }}</p>
          <p>{{ page.email }}</p>
          <p>{{ page.place }}</p>
        </div>

        <div class="px2 py2">
          <h3 class="normal mt1">Open source</h3>
          <div class="clearfix">
            {% for project in page.opensource %}
              <div class="sm-col sm-col-6">
                <a href="{{ project.url }}">{{ project.name }}</a>
                <p class="h5 italic m0 mb2">{{ project.description }}</p>
              </div>
            {% endfor %}
          </div>
          <p class="h6 mt1 gray">See more on <a href="http://github.com/mrzool">GitHub</a></p>
        </div>


        <div class="px2 py2">
            <h3 class="normal mt1">Writing</h3>
            <ul>
              {% for post in site.posts %}
                <li class="mb1"><a href="{{ post.url }}" title="{{ post.description }}">{{ post.title }}</a></li>
              {% endfor %}
              <p class="h6 mt2 gray">An <a href="/feed.xml">RSS feed</a> is available</p>
            </ul>
        </div>

        <div class="px2 py2">
            <h3 class="normal mt1">Elsewhere</h3>
            <div class="clearfix">
              {% for account in page.elsewhere %}
                <div class="col col-5 py1"><a href="{{ account.url }}">{{ account.name }}</a></div>
              {% endfor %}
            </div>
        </div>

      </div>

    </main>

    {% unless page.title == 404 %}
      {% include _footer.html %}
    {% endunless %}

  </body>
</html>
