<!DOCTYPE html>
<html lang="en">
  {% include _head.html %}
  <body class="home">

    <main class="px3 py3 mb4 max-width-4">

      <header class="max-width-1 px2 py2 mb4 border">
        <h1 class="h3 normal">{{ page.title }}</h1>
        {% comment %} <h2 class="h4 normal"><i>{{ page.subtitle }}</i></h2> {% endcomment %}
        <p>{{ page.email }}</p>
        <p>{{ page.place }}</p>
      </header>

      <div class="px2 py2">
        <h3 class="normal mt1">Elsewhere</h3>
        <div class="clearfix max-width-1">
          {% for account in page.elsewhere %}
            <div class="col col-5 py1"><a href="{{ account.url }}" rel="me">{{ account.name }}</a></div>
          {% endfor %}
        </div>
      </div>

    </main>

    {% unless page.title == 404 %}
      {% include _footer.html %}
    {% endunless %}

  </body>
</html>
