<!DOCTYPE html>
<html lang="en">
  {% include _head.html %}
  <body class="post">
    <main class="px3 py3 mt2 mb4 max-width-2 mx-auto">
      <a class="border-none block mb4" href="/">&larr; Back</a>
      <article>
        <h1 class="mb4 normal border px2 py3"> {{ page.title }} </h1>
        {% comment %} <time class="h5 inline-block mt1 mr2 normal"> {{ page.date | date: "%B %e, %Y" }} by <a href="/" title="Homepage">{{ site.author }}</a> </time> {% endcomment %}
        {% comment %} <a class="btn btn-outline h6 border normal blue" href="https://twitter.com/intent/tweet?text={{ page.title }}&url=http://mrzool.cc{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"> {% endcomment %}
        {% comment %}   <span>Tweet</span> {% endcomment %}
        {% comment %} </a> {% endcomment %}
        <h3 class="h4 italic mt3 mb4 normal align-right"> {{ page.subtitle }} </h3>
        {{ content }}
      </article>
      <hr class="mt4 mb3">
      <p class="h5 italic">
        Thanks for reading so far!
        For comments, suggestions, questions and corrections you can always reach me on
        <a href="http://twitter.com/mrzool_">Twitter</a>.
        You can also subscribe to the <a href="/feed.xml">RSS feed</a> to be notified of new posts.</p>
    </main>
  </body>
</html>
