<!DOCTYPE html>
<html lang="en">
  {% include _head.html %}
  <body class="post">
    <main class="px3 py3 mt2 mb4 max-width-2 mx-auto">
      <a class="border-none block mb4" href="/">&larr; Back</a>
      <article>
        <h1 class="mb4 normal border px2 py3"> {{ page.title }} </h1>
        <h3 class="h4 italic mt3 mb4 normal align-right"> {{ page.subtitle }} </h3>
        {{ content }}
      </article>
      <hr class="mt4 mb3">
      <p class="h5 italic">
        {% include _post-footer.html %}
      </p>
    </main>
  </body>
</html>
