<!DOCTYPE html>
<html lang="en">
  {% include _head.html %}
  <body style="max-width: 50em; margin-left: auto; margin-right: auto">
    <main class="pt4 px2 mb4">
      <article>
        <h1 class="mb1"> {{ page.title }} </h1>
        <h4 class="dib mr2"> Written on {{ page.date | date: "%B %e, %Y" }} by <a href="/" title="Homepage">{{ site.author }}</a> </h4>
        <a class="btn btn-outline border-double bold blue my2" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">
          <svg id="twitter" class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="currentcolor">
            <path d="M2 4 C6 8 10 12 15 11 A6 6 0 0 1 22 4 A6 6 0 0 1 26 6 A8 8 0 0 0 31 4 A8 8 0 0 1 28 8 A8 8 0 0 0 32 7 A8 8 0 0 1 28 11 A18 18 0 0 1 10 30 A18 18 0 0 1 0 27 A12 12 0 0 0 8 24 A8 8 0 0 1 3 20 A8 8 0 0 0 6 19.5 A8 8 0 0 1 0 12 A8 8 0 0 0 3 13 A8 8 0 0 1 2 4 " />
          </svg>
          <span>Tweet</span>
        </a>
        <h3 class="mt3 mb4"> {{ page.subtitle }} </h3>
        {{ content }}
        <p class="mt3">&mdash;<a href="http://mrzool.cc" class="h5" style="text-transform: uppercase">Mattia Tezzele</a></p>
      </article>
      <p class="mt4 h4 italic">
        {% include _post-footer.html %}
      </p>
    </main>
  </body>
</html>
