<!DOCTYPE html> 
<html lang="en"> 

  {% include _head.html %}

  <body>

    {% include _header.html %}

    <main>

      <div class="container">

        {% if site.posts %}
          <ul>
            {% for post in site.posts %}
              <li>
                <a href="{{ post.url }}" title="{{post.title}}">
                  {{ post.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}

      </div>
      
      <script type="text/javascript" src="http://zoolnotes.tumblr.com"></script>
    </main>

    <!-- {% include _footer.html %} -->



    <script>

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-58302288-1', 'auto');
      ga('send', 'pageview');

    </script>

  </body>
</html>
