<!DOCTYPE html>
<html lang="en">
  {% include _head.html %}
  <body class="container">
    <main class="pt4 px1 mb4">
      <h1> {{ page.title }} </h1>

      {% comment %} {{ content }} {% endcomment %}

      {% for post in site.posts %}
        <h3><a class="normal" href="{{ post.url }}">{{ post.title }}</a></h3>
        <p class="mt0 mb0 h5 gray"> {{ post.date | date: "%B %e, %Y" }} </p>
        <p class="italic mt0"> {{ post.subtitle }} </p>
      {% endfor %}

    </main>
    <hr class="ml2 mr2" style="border-color: white">
    {% include _footer.html %}
    {% include _analytics.html %}
  </body>
</html>
