<!DOCTYPE html>
<html lang="en">
  {% include _head.html %}
  <body class="container">
    <main class="pt4 px2 mb4">
      <h1> {{ page.title }} </h1>

      {{ content }}

      {% for post in site.posts %}
        <h3><a class="normal" href="{{ post.url }}">{{ post.title }}</a></h3>
        <strong>{{ post.date | date: "%B %e, %Y" }}</strong>
      {% endfor %}

      <div class="mt4">
        <a href="/">mrzool</a>
      </div>
    </main>
    <hr class="ml2 mr2" style="border-color: white">
    {% include _footer.html %}
    {% include _analytics.html %}
  </body>
</html>
