body {
  color: var(--black);
  background-color: var(--iceberg);
}

a { color: var(--black); }
a:visited { color: var(--black); }
a:hover { color: var(--gray); }

blockquote { color: var(--lightgray); }

:root {
  --black: #1a110f;
  --white: #FFFFFF;
  --iceberg: #e4f2f7;
  --lightgray: #7D7E7A;
  --blue: #0074D9;
  --gray: #aab1b4;
}
