.bg-gray { background-color: var(--gray); }
.amethyst { color: var(--amethyst); }

body { 
  color: var(--gray);
  background-color: var(--amethyst); 
}

body.post { background-color: var(--white); }

a { color: var(--rum); }

a:visited { color: var(--rum); }
a:hover { color: var(--yellow); }

body.post a { color: var(--blue); }
body.post a:visited { color: var(--blue); }
body.post a:hover { color: var(--aqua); }

pre { background-color: var(--oldlace); }

:root {
  --white: #FFFFFF;
  --black: #464646;
  --red: #b699ac;
  --amethyst: #a399b6;
  --rum: #FCFDF4;
  --gray: #4f504d;
  --oldlace: #fdf6e3;
  --blue: #0074D9;
  --yellow: #FFF29A;
  --aqua: #7FDBFF;
}
