@import "./lib/_normalize";

@import "gravitons";
@import "./_tufte.css";

body { background-color: #FFF8E7; }
article { padding: 0; }


.h1 { font-size: 4rem }
.h2 { font-size: 2.1rem }
.h3 { font-size: 1.7rem }
.h4 { font-size: 1rem }

.block { display: block; }

.container {
  max-width: 45em;
  margin-left: auto;
  margin-right: auto;
}

a:link {
  text-shadow: 0.03em 0 #FFF8E7, -0.03em 0 #FFF8E7, 0 0.03em #FFF8E7, 0 -0.03em #FFF8E7, 0.06em 0 #FFF8E7, -0.06em 0 #FFF8E7, 0.09em 0 #FFF8E7, -0.09em 0 #FFF8E7, 0.12em 0 #FFF8E7, -0.12em 0 #FFF8E7, 0.15em 0 #FFF8E7, -0.15em 0 #FFF8E7;
}
