@import "./lib/_normalize";

@import "gravitons";
@import "basscss-btn";
@import "basscss-btn-outline";
@import "./_latex.css";
@import "./_tufte.css";
@import "./_syntax.css";

body { background-color: #FFF8E7; }
article { padding: 0; }

.normal { font-style: normal; }

:root {
  --black: #111;
  --white: #FFF8E7;
  --gray: #424C55;
  --lightgray: #A2A7A5;
  --blue: #506FB3;
  --button-padding-y: .3em;
  --button-padding-x: .5em;
}

body { background-color: var(--white); }

.container {
  max-width: 45em;
  margin-left: auto;
  margin-right: auto;
}

a:link {
.icon {
  width: 1em;
  height: 1em;
  vertical-align: bottom;
}
.border-double {
  border-style: double;
  border-width: 3px;
}

/* Reset link colors */
a:link:not(.btn) {
  text-shadow: 0.03em 0 #FFF8E7, -0.03em 0 #FFF8E7, 0 0.03em #FFF8E7, 0 -0.03em #FFF8E7, 0.06em 0 #FFF8E7, -0.06em 0 #FFF8E7, 0.09em 0 #FFF8E7, -0.09em 0 #FFF8E7, 0.12em 0 #FFF8E7, -0.12em 0 #FFF8E7, 0.15em 0 #FFF8E7, -0.15em 0 #FFF8E7;
}
